/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
------------------------------------------------------------- */
/* BACKGROUND SIZE */
/* BORDER RADIUS */
/* BOX */
/* BOX RGBA */
/* BOX SHADOW */
/* BOX SIZING */
/* COLUMNS */
/* DOUBLE BORDERS */
/* TRIPLE BORDERS */
/* FLEX */
/* FLIP */
/* OPACITY */
/* OUTLINE RADIUS */
/* RESIZE */
/* TEXT SHADOW */
/* TEXT SHADOW */
/* TRANSFORM  */
/* TRANSITION */
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
body {
  font: 12px/1.35 tahoma, arial,  sans-serif;
}

.clearfloat:after, .menu:after, header:after, .form-list .fields .field:after, .form-list .wide:after, .form-list .fields:after, .menu-filter:after, .album-list ul:after, .nhataomau-list ul:after, .home-index .item:after {
  display: block;
  content: "";
  clear: both;
}

.container {
  padding: 0;
}

.wrapper {
  max-width: 760px;
}

input[type=text], input[type=password] {
  height: 26px;
  padding: 0 10px;
}

input[type=text], input[type=password], textarea {
  border: 1px solid #cccccc;
}

select {
  height: 26px;
  padding: 5px 10px;
  border: 1px solid #cccccc;
  line-height: 14px;
}

textarea {
  height: 65px;
  padding: 7px 10px;
  resize: none;
}

label {
  margin-bottom: 0;
}

h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
  font-weight: bold;
}

h3.title {
  padding: 6px 0;
  margin-bottom: 10px;
  margin-top: 5px;
  border-bottom: 1px solid #cccccc;
  font-size: 13px;
}

li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: #000;
}

.menu {
  float: right;
}
.menu li {
  display: inline;
  color: #fff;
}
.menu a {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 3px 8px;
  color: #fff;
}
.menu a:hover {
  text-decoration: underline;
}

.nav-footer {
  float: left;
  margin-bottom: 16px;
}
.nav-footer li {
  color: #000;
}
.nav-footer a {
  color: #000;
  padding: 3px 13px;
}
.nav-footer a:first-child {
  padding-left: 0;
}

header {
  background-color: #1f1a17;
}
header .logo {
  width: 96px;
  height: 40px;
  background: #1f1a17 url("../images/logo.jpg") 0 0 no-repeat;
  float: left;
}
header .site-title {
  margin: 0;
  padding: 0;
  float: left;
}
header .nav-menu {
  padding-top: 22px;
}

footer {
  padding-top: 5px;
  border-top: 2px solid #cccccc;
}
footer .social {
  float: right;
}
footer .social a {
  color: #000;
}
footer .social img {
  vertical-align: -1px;
}

.form-list {
  padding: 0;
  list-style: none;
  font-size: 11px;
  position: relative;
}
.form-list label {
  float: left;
  line-height: 26px;
  font-weight: normal;
  font-size: 11px;
}
.form-list input[type=file], .form-list input[type=text], .form-list input[type=password], .form-list textarea {
  float: left;
}
.form-list .wide label {
  width: 23%;
}
.form-list .wide input[type=file], .form-list .wide input[type=text], .form-list .wide input[type=password], .form-list .wide textarea {
  width: 77%;
}
.form-list .wide input.captcha {
  width: 25%;
}
.form-list .fields .field {
  width: 50%;
  float: left;
}
.form-list .fields .field:first-child input, .form-list .fields .field:first-child select {
  width: 50%;
}
.form-list .fields label {
  width: 46%;
}
.form-list .fields input[type=text], .form-list .fields input[type=password], .form-list .fields select {
  width: 54%;
}
.form-list .wide, .form-list .fields {
  margin-bottom: 7px;
}
.form-list button {
  background-color: #71706d;
  padding: 0 10px;
  line-height: 26px;
  border: 0;
  color: #fff;
}
.form-list .avatar {
  position: absolute;
  right: 0;
  top: 0;
}
.form-list .avatar img {
  width: 55px;
  height: auto;
}
.form-list .avatar input {
  display: none;
}
.form-list .avatar label {
  vertical-align: top;
  cursor: pointer;
}
.form-list .group-radio {
  float: left;
  width: 77%;
}
.form-list .group-radio label {
  display: inline;
  float: none;
}
.form-list .group-radio [type=radio] {
  line-height: 26px;
  margin: 0;
  vertical-align: middle;
}
.form-list .group-radio .radioitem {
  float: left;
  width: 50%;
}
.form-list .tmyt {
  line-height: 1.4;
  padding-top: 3px;
}

/* AWARD PAGE */
.site-main {
  min-height: 680px;
  padding-bottom: 60px;
  margin-top: 8px;
}

/* LISTING PAGE */
.row {
  margin-left: -5px;
  margin-right: -5px;
}

[class^=col] {
  padding-left: 5px;
  padding-right: 5px;
}

.listing-index {
  font-size: 11px;
}

.item-album .view-like {
  text-align: right;
}
.item-album .detail {
  margin: 13px 0;
}

.menu-filter {
  font-size: 11px;
  margin-bottom: 10px;
}
.menu-filter select {
  width: 100%;
  height: 17px;
  line-height: 17px;
  padding: 0 3px 0 2px;
  border-color: #cccccc;
  font-size: 9px;
}
.menu-filter ul {
  margin: 0 -5px;
}
.menu-filter li {
  width: 20%;
  float: left;
  padding: 5px;
}

/* UPANH PAGE */
h4 {
  font-size: 12px;
  text-transform: none;
}

.colleft-myaccount .rule {
  padding-top: 30px;
}
.colleft-myaccount .rule p {
  font-size: 11px;
}

/* ALBUM PAGE */
.album-list .item-album {
  width: 81%;
  position: relative;
}
.album-list .item-album .tool {
  position: absolute;
  padding-left: 14px;
  left: 100%;
  top: 0;
  width: 48px;
  white-space: nowrap;
}
.album-list .paging {
  border-top: 2px solid #cccccc;
  margin-top: 10px;
}

/* PROFILE PAGE*/
.nhataomau-list li {
  width: 25%;
  float: left;
}

.profile {
  font-size: 11px;
}
.profile .ntm-profile img {
  width: 95%;
}
.profile address {
  padding: 10px 0 0;
  margin: 15px 0 35px;
  border-top: 2px solid #cccccc;
}

/* ALBUMDETAIL PAGE */
.ntm-profile p {
  margin-bottom: 9px;
}

.album-detail {
  font-size: 11px;
}
.album-detail .ntm-profile {
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
}
.album-detail .ntm-profile img {
  width: 100%;
}
.album-detail .ntm-profile:before {
  display: block;
  width: 96.5%;
  right: 5px;
  position: absolute;
  bottom: -1px;
  height: 2px;
  background: #cccccc;
  content: "";
}
.album-detail h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.album-detail .ntm-profile p {
  margin-bottom: 6px;
}

.thongtinsanpham p a {
  color: #939aac;
}

.album-binhchon {
  padding-left: 15px;
}
.album-binhchon .album-photo {
  margin-bottom: 17px;
}
.album-binhchon .binhchon {
  text-align: right;
  white-space: nowrap;
}
.album-binhchon .comment {
  margin: 10px 0;
  border-top: 2px solid #cccccc;
  padding-top: 10px;
}

/* HOME PAGE */
.home-index {
  min-height: 0;
  padding-bottom: 15px;
}
.home-index .banner {
  margin-bottom: 7px;
}
.home-index .row {
  margin-left: -3px;
  margin-right: -3px;
  margin-bottom: 7px;
}
.home-index [class^="col"] {
  padding: 0 3px;
}
.home-index .item {
  position: relative;
  font-size: 11px;
}
.home-index .item > div {
  float: left;
}
.home-index .item .title {
  width: 12%;
  height: 1px;
  white-space: nowrap;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  writing-mode: tb-rl;
  color: #fff;
  left: -14px;
  bottom: -76px;
  position: relative;
  font-size: 11px;
}
.home-index .item .title span {
  text-transform: uppercase;
  position: relative;
  top: -1px;
  letter-spacing: .3px;
}
.home-index .item .photo {
  width: 29.33333%;
}
.home-index .item.video .photo {
  width: 44%;
}
.home-index .item.color-grey {
  padding-top: 9px;
  height: 111px;
}
.home-index .item.color-grey p {
  margin-bottom: 7px;
}

.color-violet {
  background-color: #6c609e;
}

.color-pink {
  background-color: #dd127e;
}

.color-lightblue {
  background-color: #3bb3c3;
}

.color-blue {
  background-color: #0291dd;
}

.color-red {
  background-color: #da251c;
}

.color-grey {
  background-color: #dededc;
}

/* LOGIN */
.form-list-login .wide input[type=text], .form-list-login .wide input[type=password] {
  width: 45%;
}

.form-list-login {
  padding: 20px 0 0;
}
.form-list-login input[type=checkbox] {
  margin: 0 3px 0 0;
  position: relative;
  top: 2px;
}
.form-list-login input[type=checkbox] + label {
  float: none;
}

/* GENERAL */
::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #999;
}

::selection {
  background: #d41864;
  color: white;
}

::-moz-selection {
  background: #d41864;
  color: white;
}

.item-album img, .nhataomau-list img, .album-binhchon .album-photo img, .home-index .item img {
  width: 100%;
  height: auto;
}

.paging {
  padding: 15px 0 35px;
  color: #000;
}
.paging li {
  display: inline;
}
.paging li.current {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

.myaffix {
  position: relative;
}
.myaffix .site-main {
  padding-top: 51px;
}
.myaffix header {
  top: 0px;
  width: 730px;
  position: fixed;
  z-index: 1;
  -webkit-animation: animatemenu .3s linear;
  -moz-animation: animatemenu .3s linear;
  -webkit-box-shadow: 1px 6px 13px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 1px 6px 13px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 1px 6px 13px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 1px 6px 13px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 6px 13px rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes animatemenu {
  0% {
    top: -50px;
  }
}

@keyframes animatemenu {
  0% {
    top: -50px;
  }
}

.blueColor {
  color: #939aac;
}
